.pink {  /* .class속성값선택자자{}*/
    color: lightpink;
}
.blue {
    color: lightblue;
}

.title {
    font-style: oblique; /* 오블리크 기울기*/
} 

.hero-title {
    color: aqua;
}

#text1 { /* #id속성값선택자{}* 개별로 스타일 지정*/
    color: red;
}

#text2, 
#text3 { /* 하나의 그룹 선택자로 묶인 2개의 id(셋트로 수정이 필요할 경우)*/
    color: blue;
}

.colored { /* 하나의 class로 2개의 p를 호출(셋트로 수정이 필요할 경우)*/
    color: lightpink;
}


/* id와 class 둘중 어떤걸 사용해야 되는지는 알아서 니꼴리는데로..
id는 id를 가진 친구가 주인공이 된다 주인공을 중심으로 스타일을 여러가지로 바꿔주고 싶으면 id사용
class는 옷이 주인공이 되는경우 같은 옷을 여러 주인공들에게 입히고 사용하고 싶을때 class사용용
클래스 나눠서 쓰기 (.pink, .title)	재사용성 ↑, 유지보수 쉬움	클래스 많아질 수 있음
하나의 클래스에 몰아쓰기 (.pink 하나로 다 처리)	간단함	재사용성 ↓, 중복 가능성 ↑
작은 프로젝트나 스타일이 단순하면: 하나의 클래스에 몰아써도 문제 없어.
규모가 크거나, 여러 요소가 공통 스타일을 공유해야 하면: 클래스를 나눠서 스타일 모듈처럼 재사용하는 게 좋아. */
